name: Build Windows Release

on:
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: ubuntu-latest
    container:
      image: golang:1.25
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: windows-support
    
    - name: Install build dependencies
      run: |
        apt update
        apt install -y wget xz-utils make gcc-mingw-w64-x86-64 g++-mingw-w64-x86-64 zip
    
    - name: Setup build environment
      run: |
        echo "CC=x86_64-w64-mingw32-gcc" >> $GITHUB_ENV
        echo "CXX=x86_64-w64-mingw32-g++" >> $GITHUB_ENV
        echo "AR=x86_64-w64-mingw32-ar" >> $GITHUB_ENV
        echo "RANLIB=x86_64-w64-mingw32-ranlib" >> $GITHUB_ENV
        echo "PKG_CONFIG_PATH=/usr/src/x86_64-w64-mingw32/lib/pkgconfig" >> $GITHUB_ENV
        echo "GOOS=windows" >> $GITHUB_ENV
    
    - name: Build libogg
      run: |
        wget https://downloads.xiph.org/releases/ogg/libogg-1.3.6.tar.xz
        tar -xvf libogg-1.3.6.tar.xz
        cd libogg-1.3.6
        ./configure --host=x86_64-w64-mingw32 --prefix=/usr/src/x86_64-w64-mingw32 --enable-shared
        make
        make install
    
    - name: Build libvorbis
      run: |
        wget https://downloads.xiph.org/releases/vorbis/libvorbis-1.3.7.tar.xz
        tar -xvf libvorbis-1.3.7.tar.xz
        cd libvorbis-1.3.7
        ./configure --host=x86_64-w64-mingw32 --prefix=/usr/src/x86_64-w64-mingw32 --enable-shared
        make
        make install
    
    - name: Build FLAC
      run: |
        wget https://ftp.osuosl.org/pub/xiph/releases/flac/flac-1.5.0.tar.xz
        tar -xvf flac-1.5.0.tar.xz
        cd flac-1.5.0
        ./configure --host=x86_64-w64-mingw32 --build=x86_64-linux-gnu --with-ogg=/usr/src/x86_64-w64-mingw32 --enable-shared --disable-static
        make
        make install
    
    - name: Build Go application
      run: |
        go env -w "CGO_ENABLED=1"
        go build -o daemon.exe ./cmd/daemon/
    
    - name: Prepare release package
      run: |
        mkdir -p release
        cp daemon.exe release/
        cp libvorbis-1.3.7/lib/.libs/libvorbisenc-2.dll release/
        cp libvorbis-1.3.7/lib/.libs/libvorbis-0.dll release/
        cp libogg-1.3.6/src/.libs/libogg-0.dll release/
        cp flac-1.5.0/src/libFLAC/.libs/libFLAC-14.dll release/
        cp /usr/x86_64-w64-mingw32/lib/libwinpthread-1.dll release/
        cp /usr/lib/gcc/x86_64-w64-mingw32/14-win32/libssp-0.dll release/
    
    - name: Create ZIP archive
      run: |
        cd release
        zip -r ../librespot-go-windows-x64.zip *
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: librespot-go-windows-x64
        path: librespot-go-windows-x64.zip
        retention-days: 30
